@import 'footer.css';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #363636;
}
#topo{
    margin-top: 20px;
    width: 100%;
    color: #fff;
    font-size: 23px;
}
#topo h1{
    margin-top: -40px;
}
#corpo{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
#imgx{
    width: 35px;
    margin-left: 95%;
    margin-top: 5px;
}
#imgdescricao{
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
#descricao{
    color: #fff;
    width: 69%;
}
#classificacao{
    display: flex;
}
#imgclassificacao{
    width: 50px;
    border-radius: 7px;
}
#pdiv{
    margin-left: 20px;
    margin-top: 12px;
    font-size: 24px;
}
#pdescricao{
    font-size: 22px;
    margin-top: 10px;
    text-align: justify;
}
.imgfilme{
    width: 260px;
}

#melhores-momentos{
    width: 100%;
    height:200px;
    background:#363636;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}
.videos-momentos{
    width:280px;
    height:160px;
}
.videos-momentos iframe{
    width:100%;
    height:100%;
}
#melhores-momentos h1{
    color:#ffff00;
    font-size:32px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    color: #fff;
}
#pmobile{
    display: none;
}

@media screen and (min-width: 0) and (max-width: 504px){
    #topo{
        font-size: 19px;
    }
    #topo h1{
        font-size: 33px;
    }
    #imgx{
        width: 30px;
        margin-left: 92%;
    }
    #corpo{
        width: 90%;
    }
    .imgfilme{
        width: 180px;
    }
    #divclassificacao{
        margin-left: 10px;
    }
    #imgclassificacao{
        width: 40px;
    }
    #pdiv{
        margin-left: 10px;
        font-size: 19px;
    }
    #pavaliacao{
        margin-top: -2px;
    }
    #pdescricao{
        font-size: 13px;
        margin-left: 10px;
        margin-top: -3px;
        display: none;
    }
    #pmobile{
        margin-left: 10px;
        margin-top: 3px;
        font-size: 16px;
        display: block;
        text-align: justify;
    }
    #melhores-momentos{
        width: 240px;
        margin: auto;
        display: table;
        padding-bottom: 17%;
    }
    .videos-momentos{
        width:240px;
        height: 146px;
        margin-top: 15px;
    }
}