* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    background-image: url(img/teste/image\ 14.png);
}
.base {
    width: 38%;
    height: 440px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 5px solid #000000;
    border-radius: 5px;
    position: relative;
    top: 20px;
    margin: auto;
    bottom: 10%;
    display: flex;
    margin-top: 8px;
}
table {
    width: 100%;
    background-color: #ffffff;
    left: calc(75px / 2);
    top: 50px;
    border-radius: px;
}
td h1,td .txb{
    margin-bottom:-20px;
}
table h1 {
    text-align: center;
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
#txb{
    width: 340px;
    height: 40px;
    border:2px solid #000;
    border-radius:5px;
    font-size: 20px;
    padding-left: 15px;
    margin-left: calc((100% - 340px)/2);
}
#txbs{
    width: 340px;
    height: 40px;
    border:2px solid #000;
    border-radius:5px;
    font-size: 20px;
    padding-left: 15px;
    margin-left: calc((100% - 340px)/2);
}
#txbs2{
    width: 340px;
    height: 40px;
    border:2px solid #000;
    border-radius:5px;
    font-size: 20px;
    padding-left: 15px;
    margin-left: calc((100% - 340px)/2);
}
#btncriar {
    width: 250px;
    color: fff;
    height: 60px;
    font-size: 40px;
    background-color: #22AFFF;
    align-items: center;
    border-radius: 11px;
    left: calc(100% - 50%);
    margin: auto;
    display: block;
    margin-top: -10px;
}
#btncriar:hover{
    background-color: #048ad8;
}
footer{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
footer span{
    color: #FF961B;
}
p{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 0) and (max-width: 504px){
    .base{
        width: 80%;
    }
    .txb{
        width: 300px;
        margin-left: calc((100% - 300px)/2);
    }
    .txbs{
        width: 300px;
        margin-left: calc((100% - 300px)/2);
    }
}